.container {
    width: 82%;
    max-width: 1170px;
    margin: 120px auto;
}
.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index:2;
    position:absolute;
    left:0;
    right:0;
    bottom:20px;
    padding: 0 4%;
}