.grid_block{
    .grid_item{
        &:hover{
            background: none;
            transition: all 1s ease;
            margin:-10px 0;
            .hover-icon-left{
                left:5%;
                top:5%;
                transition: all 1s ease;
            }
            .hover-icon-right{
                right:5%;
                top:5%;
                transition: all 1s ease;
            }
        }
    }
}