@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

ul, p, li, h2, h1, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
  background-size: cover;
}

/* source-sans-pro-regular - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/source-sans-pro/source-sans-pro-v21-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/source-sans-pro/source-sans-pro-v21-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/source-sans-pro/source-sans-pro-v21-latin-regular.woff2") format("woff2"), url("../fonts/source-sans-pro/source-sans-pro-v21-latin-regular.woff") format("woff"), url("../fonts/source-sans-pro/source-sans-pro-v21-latin-regular.ttf") format("truetype"), url("../fonts/source-sans-pro/source-sans-pro-v21-latin-regular.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat/montserrat-v25-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat/montserrat-v25-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v25-latin-regular.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v25-latin-regular.woff") format("woff"), url("../fonts/montserrat/montserrat-v25-latin-regular.ttf") format("truetype"), url("../fonts/montserrat/montserrat-v25-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat/montserrat-v25-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat/montserrat-v25-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v25-latin-700.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v25-latin-700.woff") format("woff"), url("../fonts/montserrat/montserrat-v25-latin-700.ttf") format("truetype"), url("../fonts/montserrat/montserrat-v25-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans/open-sans-v34-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans/open-sans-v34-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/open-sans-v34-latin-regular.woff2") format("woff2"), url("../fonts/open-sans/open-sans-v34-latin-regular.woff") format("woff"), url("../fonts/open-sans/open-sans-v34-latin-regular.ttf") format("truetype"), url("../fonts/open-sans/open-sans-v34-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
.container {
  width: 73.125%;
  max-width: 1170px;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-column {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.main_wrapper {
  background-image: url("../img/background_hero_section.webp");
  height: 50em;
}
.main_wrapper .header_wrappper .nav_list_wrapper .list_wrapper .list_item {
  position: relative;
}
.main_wrapper .header_wrappper .nav_list_wrapper .list_wrapper .list_item::before {
  position: absolute;
  content: "";
  top: 4.5px;
  left: 0;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?ir6n5p");
  src: url("../fonts/icomoon.eot?ir6n5p#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?ir6n5p") format("truetype"), url("../fonts/icomoon.woff?ir6n5p") format("woff"), url("../fonts/icomoon.svg?ir6n5p#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}