@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

ul, p, li, h2, h1, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
}

/* source-sans-pro-regular - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/source-sans-pro/source-sans-pro-v21-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/source-sans-pro/source-sans-pro-v21-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/source-sans-pro/source-sans-pro-v21-latin-regular.woff2") format("woff2"), url("../fonts/source-sans-pro/source-sans-pro-v21-latin-regular.woff") format("woff"), url("../fonts/source-sans-pro/source-sans-pro-v21-latin-regular.ttf") format("truetype"), url("../fonts/source-sans-pro/source-sans-pro-v21-latin-regular.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat/montserrat-v25-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat/montserrat-v25-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v25-latin-regular.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v25-latin-regular.woff") format("woff"), url("../fonts/montserrat/montserrat-v25-latin-regular.ttf") format("truetype"), url("../fonts/montserrat/montserrat-v25-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat/montserrat-v25-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat/montserrat-v25-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v25-latin-regular.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v25-latin-regular.woff") format("woff"), url("../fonts/montserrat/montserrat-v25-latin-regular.ttf") format("truetype"), url("../fonts/montserrat/montserrat-v25-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat/montserrat-v25-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat/montserrat-v25-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v25-latin-700.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v25-latin-700.woff") format("woff"), url("../fonts/montserrat/montserrat-v25-latin-700.ttf") format("truetype"), url("../fonts/montserrat/montserrat-v25-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans/open-sans-v34-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans/open-sans-v34-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/open-sans-v34-latin-regular.woff2") format("woff2"), url("../fonts/open-sans/open-sans-v34-latin-regular.woff") format("woff"), url("../fonts/open-sans/open-sans-v34-latin-regular.ttf") format("truetype"), url("../fonts/open-sans/open-sans-v34-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
.container {
  width: 73.125%;
  max-width: 1170px;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-column {
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer_container {
  width: 48%;
  max-width: 770px;
  margin: 0 auto;
}

body {
  background: #E5E5E5;
}

.basic_montserrat_style {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #FFFFFF;
}

.section_heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #2C4058;
}

.smaller_heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
}

.projects_text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2C4058;
}

.address_wrapper {
  justify-content: flex-start;
}
.address_wrapper .address_text {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.button_styles {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 16px 41px;
  box-sizing: border-box;
  border: 1px solid #2C4058;
  transition: all 0.5s ease;
}

.slick-dots {
  position: absolute;
  right: -11%;
  top: -28%;
  list-style: none;
  justify-content: center;
  padding: 0;
  gap: 12px;
}
.slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: 0;
  background: none;
  border: 2px solid white;
  margin-bottom: 40px;
}
.slick-dots li:last-of-type button {
  margin-bottom: 0px;
}
.slick-dots .slick-active button {
  background: white;
}

.arrow-icon {
  font-size: 26px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 12px 16px 12px 18px;
  transition: all 0.5s ease;
}

.socials_wrapper {
  gap: 20px;
}
.socials_wrapper .socials_item .icon {
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 11px;
  transition: all 0.5s ease;
}

.main_wrapper .first_section_wrapper {
  position: relative;
  background-image: url(../img/background_hero_section.webp);
  height: 50em;
  background-repeat: no-repeat;
  max-width: 1600px;
  display: block;
  margin: 0 auto;
}
.main_wrapper .first_section_wrapper .header_wrappper {
  padding-top: 53px;
}
.main_wrapper .first_section_wrapper .header_wrappper .logo_link .monticello_logo {
  transition: all 0.5s ease;
}
.main_wrapper .first_section_wrapper .header_wrappper .nav_list_wrapper .list_wrapper {
  gap: 70px;
}
.main_wrapper .first_section_wrapper .header_wrappper .nav_list_wrapper .list_wrapper .list_item {
  position: relative;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  transition: all 0.5s ease;
}
.main_wrapper .first_section_wrapper .header_wrappper .nav_list_wrapper .list_wrapper .list_item::before {
  position: absolute;
  content: "";
  top: 4.5px;
  left: -24px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: all 0.5s ease;
}
.main_wrapper .first_section_wrapper .hero_wrapper {
  margin: 13.78%;
  text-align: center;
}
.main_wrapper .first_section_wrapper .hero_wrapper .hero_heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.main_wrapper .first_section_wrapper .hero_wrapper .slick-dots {
  position: absolute;
  right: -11%;
  top: -28%;
  list-style: none;
  justify-content: center;
  padding: 0;
  gap: 12px;
}
.main_wrapper .projects_wrapper .projects_heading {
  padding-top: 130px;
  margin-bottom: 147px;
  position: relative;
}
.main_wrapper .projects_wrapper .projects_heading::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100px;
  border: solid #2C4058;
  border-width: 0 0 1px;
  top: 100px;
  left: 45%;
}
.main_wrapper .projects_wrapper .first_project_wrapper, .main_wrapper .projects_wrapper .second_project_wrapper {
  margin-bottom: 120px;
}
.main_wrapper .projects_wrapper .first_project_wrapper .right_part_wrapper, .main_wrapper .projects_wrapper .second_project_wrapper .right_part_wrapper {
  width: 40%;
  text-align: left;
}
.main_wrapper .projects_wrapper .first_project_wrapper .right_part_wrapper .section_heading, .main_wrapper .projects_wrapper .second_project_wrapper .right_part_wrapper .section_heading {
  text-align: left;
  margin-bottom: 20px;
}
.main_wrapper .projects_wrapper .first_project_wrapper .right_part_wrapper .projects_text, .main_wrapper .projects_wrapper .second_project_wrapper .right_part_wrapper .projects_text {
  margin-bottom: 56px;
}
.main_wrapper .projects_wrapper .first_project_wrapper .right_part_wrapper .button_wrapper, .main_wrapper .projects_wrapper .second_project_wrapper .right_part_wrapper .button_wrapper {
  margin-bottom: 77px;
}
.main_wrapper .projects_wrapper .first_project_wrapper .left_part_wrapper .background_picture {
  position: relative;
}
.main_wrapper .projects_wrapper .first_project_wrapper .left_part_wrapper .background_picture::after {
  content: "";
  width: 585px;
  height: 470px;
  background: #55B7FF;
  position: absolute;
  z-index: -1;
  left: -14em;
  top: -49px;
}
.main_wrapper .projects_wrapper .second_project_wrapper .left_part_wrapper .background_picture {
  position: relative;
}
.main_wrapper .projects_wrapper .second_project_wrapper .left_part_wrapper .background_picture::after {
  content: "";
  width: 585px;
  height: 470px;
  background: #7E5AFF;
  position: absolute;
  z-index: -1;
  right: -50em;
  top: -49px;
}
.main_wrapper .news_wraper {
  background-image: url("../img/news_background.webp");
  height: 50em;
  background-repeat: no-repeat;
  padding-top: 150px;
}
.main_wrapper .news_wraper .section_heading {
  margin-bottom: 90px;
  color: white;
  position: relative;
}
.main_wrapper .news_wraper .section_heading::before {
  content: "";
  position: absolute;
  width: 100px;
  border: solid #fff;
  border-width: 0 0 1px;
  top: -55%;
  left: 47%;
}
.main_wrapper .news_wraper .slick-dots {
  gap: 40px;
  display: flex;
  justify-content: center;
  margin: 40px auto 0;
  align-items: center;
  left: 42%;
  right: auto;
  top: auto;
}
.main_wrapper .news_wraper .slick-dots li button {
  margin-bottom: 0px;
}
.main_wrapper .news_wraper .news_slider_wrapper .news_slide_item {
  margin-right: 30px;
  max-width: 370px;
  max-height: 514px;
}
.main_wrapper .news_wraper .news_slider_wrapper .news_slide_item .content_wrapper {
  background-color: #FFFFFF;
  padding: 30px 15px 30px;
}
.main_wrapper .news_wraper .news_slider_wrapper .news_slide_item .content_wrapper .news_heading {
  font-weight: 700;
  margin-bottom: 15px;
}
.main_wrapper .news_wraper .news_slider_wrapper .news_slide_item .content_wrapper .news_text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #2C4058;
  margin-bottom: 40px;
}
.main_wrapper .news_wraper .news_slider_wrapper .news_slide_item .content_wrapper .person_info_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.main_wrapper .news_wraper .news_slider_wrapper .news_slide_item .content_wrapper .person_info_wrapper .avatar {
  width: 100%;
  max-width: 60px;
  height: 100%;
  max-height: 60px;
  border-radius: 50%;
  margin-right: 14px;
}
.main_wrapper .news_wraper .news_slider_wrapper .news_slide_item .content_wrapper .person_info_wrapper .smaler_person_info_wrapper .person_name {
  color: #2C4058;
  letter-spacing: normal;
}
.main_wrapper .news_wraper .news_slider_wrapper .news_slide_item .content_wrapper .person_info_wrapper .smaler_person_info_wrapper .date {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #55B7FF;
}
.main_wrapper .slick-arrow {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  z-index: 1;
  cursor: pointer;
}
.main_wrapper .slick-arrow img {
  width: 40px;
  display: inline-block;
}
.main_wrapper .slick-prev {
  left: -8%;
  transform: translateY(-50%);
  transform: rotate(180deg);
}
.main_wrapper .slick-next {
  right: -5%;
  transform: translateY(-50%);
}
.main_wrapper .gallery_wrapper .section_heading {
  position: relative;
  margin-top: 180px;
  margin-bottom: 90px;
}
.main_wrapper .gallery_wrapper .section_heading::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100px;
  border: solid #2C4058;
  border-width: 0 0 1px;
  top: -50px;
  left: 45%;
}
.main_wrapper .gallery_wrapper .grid_block {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 214px);
  margin-bottom: 76px;
}
.main_wrapper .gallery_wrapper .grid_block .grid_item:nth-child(1) {
  grid-row: 1/3;
  grid-column: 1/3;
}
.main_wrapper .gallery_wrapper .grid_block .grid_item:nth-child(2) {
  grid-row: 1/2;
  grid-column: 3/4;
}
.main_wrapper .gallery_wrapper .grid_block .grid_item:nth-child(3) {
  grid-row: 1/2;
  grid-column: 4/5;
}
.main_wrapper .gallery_wrapper .grid_block .grid_item:nth-child(4) {
  grid-row: 2/3;
  grid-column: 3/4;
}
.main_wrapper .gallery_wrapper .grid_block .grid_item:nth-child(5) {
  grid-row: 2/3;
  grid-column: 4/5;
}
.main_wrapper .gallery_wrapper .button_wrapper {
  text-align: center;
  margin-bottom: 167px;
}
.main_wrapper .info_wrapper {
  align-items: baseline;
  position: relative;
  gap: 54px;
}
.main_wrapper .info_wrapper #map {
  position: relative;
  height: 600px;
  width: 100%;
  margin: 50px auto 0;
  outline: 0;
  z-index: -1;
}
.main_wrapper .info_wrapper .contact_wrapper {
  background-image: url(../img/contacts_background.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  display: block;
  margin: 0 auto;
  padding: 90px 60px 73px;
  background-color: #fff;
  width: 40.67%;
  position: absolute;
  left: 26%;
  bottom: -150px;
}
.main_wrapper .info_wrapper .contact_wrapper .form_wrapper_heading {
  margin-bottom: 42px;
}
.main_wrapper .info_wrapper .contact_wrapper .left_part_info {
  width: 48.8%;
  gap: 29px;
}
.main_wrapper .info_wrapper .contact_wrapper .left_part_info .form_text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.main_wrapper .info_wrapper .contact_wrapper .left_part_info .form_text .form_icon {
  color: #7E5AFF;
  margin-right: 10px;
}
.main_wrapper .info_wrapper .contact_wrapper .right_part_wrapper {
  width: 41%;
}
.main_wrapper .info_wrapper .contact_wrapper .right_part_wrapper .info-field {
  width: 100%;
  margin-bottom: 30px;
}
.main_wrapper .info_wrapper .contact_wrapper .right_part_wrapper:last-child .info-field {
  margin-bottom: 45px;
}
.main_wrapper .info_wrapper .contact_wrapper .right_part_wrapper input, .main_wrapper .info_wrapper .contact_wrapper .right_part_wrapper textarea {
  padding: 10px;
  width: 100%;
  border-width: 0px 0px 1px 0px;
  border-color: #2C4058;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #4B5562;
  opacity: 0.5;
  transition: all 0.5s ease;
}

.footer_wrapper {
  background-image: url(../img/footer_background.webp);
  height: 33em;
  background-repeat: no-repeat;
}
.footer_wrapper .flex-column {
  gap: 41px;
}
.footer_wrapper .flex-column .copyright {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.footer_wrapper .socials_wrapper {
  width: 21%;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/iconmoon/icomoon.eot?wed4aw");
  src: url("../fonts/iconmoon/icomoon.eot?wed4aw#iefix") format("embedded-opentype"), url("../fonts/iconmoon/icomoon.ttf?wed4aw") format("truetype"), url("../fonts/iconmoon/icomoon.woff?wed4aw") format("woff"), url("..fonts/iconmoon/icomoon.svg?wed4aw#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uniE901:before {
  content: "";
  color: #fff;
}

.icon-phone:before {
  content: "";
}

.icon-location:before {
  content: "";
}

.icon-clock:before {
  content: "";
}

.icon-drawer2:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.main_wrapper .first_section_wrapper .header_wrappper .nav_list_wrapper .list_wrapper .list_item:hover {
  transition: all 0.5s ease;
  font-size: 16px;
}
.main_wrapper .first_section_wrapper .header_wrappper .nav_list_wrapper .list_wrapper .list_item:hover::before {
  background-color: white;
  color: white;
  transition: all 0.5s ease;
}

.logo_link .monticello_logo:hover {
  transform: scaleX(1.1);
  transition: all 0.5s ease;
}

.socials_wrapper .socials_item .icon:hover {
  padding: 13px;
  font-size: 17px;
  transition: all 0.5s ease;
}

.button_styles:hover {
  font-size: 16px;
  padding: 19px 45px;
  transition: all 0.5s ease;
}

.arrow-icon:hover {
  font-size: 30px;
  padding: 16px 20px 16px 20px;
  transition: all 0.5s ease;
}

.main_wrapper .info_wrapper .contact_wrapper .right_part_wrapper input:hover, .main_wrapper .info_wrapper .contact_wrapper .right_part_wrapper input:active, .main_wrapper .info_wrapper .contact_wrapper textarea:hover, .main_wrapper .info_wrapper .contact_wrapper textarea:active {
  padding: 12px;
  border-width: 0 0 2px;
  border-color: #2C4058;
  color: #2C4058;
}