@media screen and (min-width:770px) {
    .hamburger--emphatic{
        display:none;
    }
}

@media screen and (max-width: 769px) {
    .side-block {
        position: fixed;
        background-image: url(../img/background.jpg);
        background-repeat: repeat;
        background-size: cover;
        opacity: 1;
        right: 30%;
        top: 13%;
        bottom: 16%;
        width: 100%;
        max-width: 252px;
        z-index: 2;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        padding: 15px;
        transition: all 1s ease;
        transform: translateX(180%);
        display: flex;
        &.open {
            transform: translateX(0%);
        }
    }
    .header_wrapper{
        .list_wrapper{
            height: 160px;
            background: linear-gradient(-47deg,rgba(117,190,218,.5) 0,rgba(217,217,217,0) 100%);
            .list_item{
                font-weight: 500;
                font-size: 21px;
                line-height: 24px;
                color: #000;
                padding: 5px 9px;
                transition: all .5s ease-in;
            }
            .list_item_link{
                color:#fff;
            }
        }
    }
    .slider_hero_card_image{
        min-height: 300px;
        object-fit: cover;
        object-position: left;
    }
    .header_wrapper{
        .links_wrapper{
            gap: 30px;
            background: linear-gradient(66deg, rgba(117, 190, 218, 0.5) 0%, rgba(217, 217, 217, 0) 100%);
            height: 160px;
            .profile-icon,.search-icon {
                color: #fff;
                padding: 5px;
                width: 24px;
                height: 40px;
            }
            .search-icon{
                path{
                    fill:white;
                }
            }
            .profile-icon{
                path{
                    stroke:white;
                }
            }
        }
    }
    .footer_wrapper{
        .footer_info_wrapper{
            margin-bottom: 11px;
            .left_part_wrapper{
                text-align: left;
                margin-bottom: 50px;
                .logo{
                    justify-content: center;
                    align-items: center;
                    display: block;
                    margin: 0 auto 30px;
                }
                .navigation_wrapper{
                    .list_wrapper{
                        justify-content: center;
                        text-align: center;
                    }
                }
            }
            .right_part_wrapper{
                justify-content: center;
                text-align: center;
                width: 100%;
                align-items: center;
            }
        }
    }
    .slider_hero_card_item{
        .slider_content{
            position: absolute;
            top: 25px;
            right: 8px;
            text-align: center;
            color: #f8f1ea;
            text-transform: uppercase;
            z-index: 3;
            .slider_content_text{
                font-weight: 700;
                font-size: 13px;
                line-height: 61px;
                max-width: 400px;
                width: 100%;
                margin-bottom: 2px;
            }
            .slider_content_link{
                font-weight: 500;
                font-size: 9px;
                padding: 6px 29px;
            }
        }
    }
    .slider_block1{
        .slick-dots{
            bottom:2%;
            position: absolute;
            left:46%;
            gap:10px;
            button{
                width: 15px;
                height: 15px;
                gap: 19px;
            }
        }
    }


}

@media screen and (max-width:426px) {
    .side-block{
        right: 17%;
    }
}

@media screen and (max-width:376px){
    .side-block{
        right: 8%;
    }
}