.header_wrapper:hover {
  background-color: rgba(247, 243, 243, 0.76);
  transition: all 0.5s ease-in;
}
.header_wrapper .navigation_wrapper .list_wrapper .list_item:hover {
  background: #F16A50;
  color: #FFF;
  font-size: 22px;
  transition: all 0.5s ease-in;
}
.header_wrapper .links_wrapper .search-icon:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in;
}
.header_wrapper .links_wrapper .profile-icon:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in;
}

.logo:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in;
}

.footer_wrapper .footer_info_wrapper .left_part_wrapper .navigation_wrapper .list_wrapper .list_item:hover {
  color: #F16A50;
}

.slider_wrapper .new_arrivals_item:hover {
  border: 1px solid #F16A50;
  transition: all 0.5s ease-in;
}

.slider_content_link:hover {
  padding: 20px 65px;
  transition: all 0.5s ease-in;
}