@charset "UTF-8";
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/lato-v23-latin-regular.eot?#iefix");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato/lato-v23-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-v23-latin-regular.woff2") format("woff2"), url("../fonts/lato/lato-v23-latin-regular.woff") format("woff"), url("../fonts/lato/lato-v23-latin-regular.ttf") format("truetype"), url("../fonts/lato/lato-v23-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */
}
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

ul, p, li, h2, h1, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
  background-size: cover;
}

body {
  background: #212534;
}

a {
  text-decoration: none;
}

.section_wrapper {
  background-image: url(../img/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 860px;
  width: 74.5%;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  font-family: "Lato", sans-serif;
}
.section_wrapper .game_info_wrapper {
  width: 60%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section_wrapper .game_info_wrapper .tabs {
  background: #2B3040;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 28px 0;
}
.section_wrapper .game_info_wrapper .tabs .tabs_item {
  text-align: center;
  cursor: pointer;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  color: #8D91A3;
  text-align: center;
}
.section_wrapper .game_info_wrapper .card_wrapper {
  background: #212534;
}
.section_wrapper .game_info_wrapper .card_wrapper .card_item .test-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 428px;
}
.section_wrapper .game_info_wrapper .card_wrapper .card_item .test-block .text-card-two {
  font-size: 28px;
  color: #fff;
  font-family: Lato;
  text-align: center;
  padding: 10%;
}
.section_wrapper .game_info_wrapper .card_wrapper .card_item .test-block .pic_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 75px 0 60px 40px;
  width: 33%;
}
.section_wrapper .game_info_wrapper .card_wrapper .card_item .test-block .pic_info .game_image {
  max-height: 230px;
  max-width: 160px;
}
.section_wrapper .game_info_wrapper .card_wrapper .card_item .test-block .pic_info .rating_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: 60%;
  gap: 10px;
}
.section_wrapper .game_info_wrapper .card_wrapper .card_item .test-block .pic_info .rating_wrapper .icon:hover path {
  fill: #FFDD3F;
  cursor: pointer;
}
.section_wrapper .game_info_wrapper .card_wrapper .card_item .test-block .pic_info .rating_wrapper .icon --active path {
  fill: #FFDD3F;
  cursor: pointer;
}
.section_wrapper .game_info_wrapper .card_wrapper .card_item .test-block .text_info {
  width: 53%;
  padding: 60px 40px 60px 0;
}
.section_wrapper .game_info_wrapper .card_wrapper .card_item .test-block .text_info .higher_wrapper {
  margin-bottom: 27px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.section_wrapper .game_info_wrapper .card_wrapper .card_item .test-block .text_info .higher_wrapper .min_wrapper .game_name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  color: #FFFFFF;
  padding-bottom: 15px;
}
.section_wrapper .game_info_wrapper .card_wrapper .card_item .test-block .text_info .higher_wrapper .min_wrapper .realise_date {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}
.section_wrapper .game_info_wrapper .card_wrapper .card_item .test-block .text_info .higher_wrapper .chart {
  position: relative;
  top: -20px;
  right: 0;
  width: 83px;
  height: 83px;
}
.section_wrapper .game_info_wrapper .card_wrapper .card_item .test-block .text_info .higher_wrapper .percent {
  position: absolute;
  top: 35%;
  left: 35%;
  font-size: 20px;
  line-height: 22px;
  color: #b7bacd;
}
.section_wrapper .game_info_wrapper .card_wrapper .card_item .test-block .text_info .game_description_wrapper {
  width: 87%;
  margin-bottom: 50px;
}
.section_wrapper .game_info_wrapper .card_wrapper .card_item .test-block .text_info .game_description_wrapper .description_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #B7BACD;
}
.section_wrapper .game_info_wrapper .card_wrapper .card_item .test-block .text_info .to_buy_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section_wrapper .game_info_wrapper .card_wrapper .card_item .test-block .text_info .to_buy_section .price_wrapper .discount {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #FFDD3F;
}
.section_wrapper .game_info_wrapper .card_wrapper .card_item .test-block .text_info .to_buy_section .price_wrapper .price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  color: #FFFFFF;
}
.section_wrapper .game_info_wrapper .card_wrapper .card_item .test-block .text_info .to_buy_section .buy_button {
  background: #13E28D;
  border-radius: 2px;
  padding: 20px 30px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.display-none {
  display: none;
}

/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/lato-v23-latin-regular.eot?#iefix");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato/lato-v23-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-v23-latin-regular.woff2") format("woff2"), url("../fonts/lato/lato-v23-latin-regular.woff") format("woff"), url("../fonts/lato/lato-v23-latin-regular.ttf") format("truetype"), url("../fonts/lato/lato-v23-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/iconmoon/icomoon.eot");
  src: url("../fonts/iconmoon/icomoon.eot") format("embedded-opentype"), url("../fonts/iconmoon/icomoon.ttf") format("truetype"), url("../fonts/iconmoon/icomoon.woff") format("woff"), url("../fonts/iconmoon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star-icon:before {
  content: "";
  color: #8d91a3;
}

.icon-star-icon-1:before {
  content: "";
  color: #ffdd3f;
}