@charset "UTF-8";
/* cormorant-garamond-300 - latin */
@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-300.woff2") format("woff2"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-300.woff") format("woff"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-300.ttf") format("truetype"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-300.svg#CormorantGaramond") format("svg");
  /* Legacy iOS */
}
/* cormorant-garamond-regular - latin */
@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-regular.woff2") format("woff2"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-regular.woff") format("woff"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-regular.ttf") format("truetype"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-regular.svg#CormorantGaramond") format("svg");
  /* Legacy iOS */
}
/* cormorant-garamond-700 - latin */
@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-700.woff2") format("woff2"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-700.woff") format("woff"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-700.ttf") format("truetype"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-700.svg#CormorantGaramond") format("svg");
  /* Legacy iOS */
}
/* outfit-regular - latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/outfit/outfit-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/outfit/outfit-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/outfit/outfit-v6-latin-regular.woff2") format("woff2"), url("../fonts/outfit/outfit-v6-latin-regular.woff") format("woff"), url("../fonts/outfit/outfit-v6-latin-regular.ttf") format("truetype"), url("../fonts/outfit/outfit-v6-latin-regular.svg#Outfit") format("svg");
  /* Legacy iOS */
}
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

ul, p, li, h2, h1, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
  background-size: cover;
}

body {
  background-color: #161D27;
}

.section_heading {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.section_text {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #D7D7D7;
}

.header_wrapper {
  padding-top: 2%;
}
.header_wrapper .higher_header {
  padding-bottom: 2.8%;
  border-bottom: 1px solid #4E555F;
}
.header_wrapper .higher_header .help_button {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0px;
  padding: 1.8% 5.2%;
}

.lower_header {
  position: relative;
  padding: 2.23% 0 2.6%;
  border-bottom: 1px solid #4E555F;
}
.lower_header .nav_list_wrapper {
  width: 38%;
}
.lower_header .nav_list_wrapper .nav_list .nav_item {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.lower_header .icon {
  color: #CCAA60;
  border: 2px solid #D1B06B;
  border-radius: 50%;
  padding: 20px;
}
.lower_header .info {
  width: 40%;
  gap: 8px;
}
.lower_header .info .call-us, .lower_header .info .mail-us {
  gap: 12px;
}
.lower_header .info .info-text {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.4px;
  color: #D1B06B;
}
.lower_header .info .requisites {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.lower_header .info .icon {
  color: #CCAA60;
  border: 2px solid #D1B06B;
  border-radius: 50%;
  padding: 20px;
}

.first_wrapper {
  width: 100%;
  height: 61em;
  position: relative;
  background: rgba(31, 39, 50, 0.81);
  overflow: hidden;
  margin-bottom: 140px;
}

.background {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.hero_wrapper {
  display: flex;
  gap: 24px;
}
.hero_wrapper .hero-man {
  right: 0%;
  bottom: 0%;
  width: 45%;
  position: absolute;
}
.hero_wrapper .hero_info_wrapper {
  display: block;
  margin: auto 0;
  position: absolute;
  width: 50%;
}
.hero_wrapper .hero_info_wrapper .strange_decoration {
  margin-bottom: 14px;
  margin-top: 20px;
}
.hero_wrapper .hero_info_wrapper .hero_heading {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 78px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  margin-bottom: 21px;
}
.hero_wrapper .hero_info_wrapper .hero_text {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0.4px;
  color: #D1B06B;
  margin-bottom: 14px;
}
.hero_wrapper .hero_info_wrapper .communication_hero_button {
  display: block;
  background: #D1B06B;
  border: 1px solid #D1B06B;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #1F2732;
  padding: 25px 0;
  margin-top: 14px;
  width: 41.2%;
}

.first-section {
  display: flex;
  gap: 4.5%;
  padding-bottom: 270px;
}
.first-section .first-section_image-block {
  gap: 30px;
}
.first-section .first-section_info-block {
  display: block;
  width: 60%;
}
.first-section .first-section_info-block .section_heading {
  margin: 1.23% 0 1.35%;
}
.first-section .first-section_info-block .strange-decoration {
  margin-bottom: 5.3%;
}
.first-section .first-section_info-block .section_text {
  margin-bottom: 3.97%;
}
.first-section .first-section_info-block .quoter-block {
  display: flex;
  align-items: center;
  gap: 2.4%;
  margin-bottom: 5.52%;
}
.first-section .first-section_info-block .quoter-block .quoter-name {
  font-size: 40px;
  line-height: 52px;
}
.first-section .first-section_info-block .quoter-block .quoter-photo {
  width: 11.1%;
}
.first-section .first-section_info-block .block-of-showing-off_1 {
  display: flex;
  font-size: 22px;
  line-height: 29px;
  gap: 30px;
}
.first-section .first-section_info-block .block-of-showing-off_1 .succsess-info-block {
  display: flex;
  width: 31.5%;
  height: 100%;
  background: #3B434E;
  padding: 3.7% 6.2%;
  gap: 9%;
}
.first-section .first-section_info-block .block-of-showing-off_1 .succsess-info-block .success-info {
  color: #D7D7D7;
}
.first-section .first-section_info-block .block-of-showing-off_1 .work-experience-block {
  display: flex;
  width: 31.5%;
  height: 100%;
  background: #D1B06B;
  padding: 3.7% 6.2%;
  gap: 9%;
}
.first-section .first-section_info-block .block-of-showing-off_1 .work-experience-block .work-experience-info {
  color: #1F2732;
}

.second-section {
  max-width: 1350px;
  margin-bottom: 9.78%;
}
.second-section .second-section_info-block {
  margin-bottom: 4.45%;
}
.second-section .second-section_info-block .section_heading {
  margin-bottom: 3.1%;
}
.second-section .second-section_info-block .section_text {
  margin: auto 0;
}
.second-section .section-heading-block {
  width: 32%;
}
.second-section .section_text {
  width: 48.6%;
}
.second-section .card-block {
  gap: 30px;
  padding-bottom: 140px;
}
.second-section .card-block .card-block-item {
  padding: 4.1% 3.76% 5.2%;
  background: #1F2732;
  width: 24.3%;
  margin: 0 auto;
}
.second-section .card-block .card-block-item .card-heading {
  font-size: 35px;
  line-height: 56px;
  margin-bottom: 2.5%;
}
.second-section .card-block .card-block-item .section_text {
  border-bottom: 1px solid #4E555F;
  width: 100%;
  padding: 0 2.8% 8.7% 0;
  margin-bottom: 17.2%;
}
.second-section .card-block .card-block-item .more-information-link {
  background: #161D27;
  padding: 4% 13%;
  color: #FFF;
  width: 32%;
  margin: 0;
  border: 0;
}

.third-section {
  background-color: #ffff;
}
.third-section .section_heading {
  font-size: 45px;
  line-height: 54px;
  text-align: center;
  color: #161D27;
}
.third-section .section_text {
  text-align: center;
  color: #909090;
  margin: 0 auto 8%;
}
.third-section .higher-block {
  padding-top: 9.1%;
  align-content: center;
  width: 56%;
  margin: 0 auto;
}
.third-section .higher-block .section_heading {
  width: 53%;
  margin: 0 auto 1.5%;
  display: block;
}
.third-section .higher-block .strange-decoration {
  margin: 0 auto 5.3%;
  display: block;
}
.third-section .higher-block .section_text {
  width: 89%;
}
.third-section .block-of-showing-off_2 {
  gap: 30px;
  padding-bottom: 6.2%;
  border-bottom: 3px solid #4e555f0f;
}
.third-section .block-of-showing-off_2 .block-of-showing-off_2-item {
  width: 25%;
  margin: 0 auto;
}
.third-section .block-of-showing-off_2 .block-of-showing-off_2-item .statistics-wrapper_2 {
  width: 59%;
}
.third-section .block-of-showing-off_2 .block-of-showing-off_2-item .statistics-heading {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.4px;
  color: #1F2732;
}
.third-section .block-of-showing-off_2 .block-of-showing-off_2-item .additional-info {
  color: #909090;
  margin: 0;
  text-align: start;
  text-transform: capitalize;
}
.third-section .block-of-showing-off_2 .light {
  align-items: center;
  gap: 12px;
  padding: 2.3% 3% 2.3% 2.3%;
  background: #FBFBFB;
}
.third-section .block-of-showing-off_2 .light .statistics-heading {
  line-height: 42px;
}
.third-section .block-of-showing-off_2 .light .additional-info {
  line-height: 32px;
}
.third-section .block-of-showing-off_2 .light .statistics-wrapper_1 {
  padding: 8.2% 6.4% 9.3% 6.8%;
  border: 2px solid #D1B06B;
}
.third-section .block-of-showing-off_2 .light .statistics-wrapper_1 .icon {
  display: block;
  margin: 0 auto;
}
.third-section .block-of-showing-off_2 .light .statistics-wrapper_1 .number {
  font-size: 30px;
  line-height: 39px;
  color: #1F2732;
}
.third-section .block-of-showing-off_2 .dark {
  background-image: url("../img/statistics-background.webp");
  background-size: auto;
  padding: 40px 43px 40px 50px;
}
.third-section .block-of-showing-off_2 .dark .statistics-heading {
  font-family: "Outfit";
  color: #FFFFFF;
  line-height: 39px;
  margin-bottom: 10px;
}
.third-section .block-of-showing-off_2 .dark .additional-info {
  line-height: 26px;
  color: #FFFFFF;
}

.fourth-section {
  padding-top: 5.6%;
  background-color: #ffff;
  padding-bottom: 9.1%;
}
.fourth-section .heading {
  width: 50%;
  margin: 0 auto 3.7%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.fourth-section .heading .section_heading {
  color: #161D27;
}
.fourth-section .logos {
  width: 91%;
  margin: 0 auto;
}
.fourth-section .logos .partner-logo {
  margin: 0 auto;
}

.fifth-section {
  padding-top: 9.8%;
  padding-bottom: 1px;
  background-image: url("../img/5-th-section-bacground.webp");
  background-size: cover;
}
.fifth-section .info-block {
  align-items: flex-start;
  max-width: 1240px;
  background: rgba(31, 39, 50, 0.85);
  padding: 5.5% 4.3% 4.9%;
  gap: 70px;
  margin: 0 auto 9.7%;
}
.fifth-section .info-block .part-one {
  width: 33.7%;
}
.fifth-section .info-block .part-one .strange-decoration {
  margin-bottom: 12%;
}
.fifth-section .info-block .part-one p.paragragh-heading {
  color: #D1B06B;
  margin-bottom: 3.2%;
}
.fifth-section .info-block .part-one .section_text {
  margin-bottom: 8%;
}
.fifth-section .info-block .divider-photo {
  width: 21.2%;
}
.fifth-section .info-block .part-two {
  width: 30.8%;
}
.fifth-section .info-block .part-two .section_heading {
  margin-bottom: 3%;
}
.fifth-section .info-block .part-two .strange-decoration {
  margin-bottom: 11%;
}
.fifth-section .info-block .part-two .section_text {
  margin-bottom: 9.5%;
}
.fifth-section .info-block .part-two .succsess-statistics {
  padding-bottom: 13%;
}
.fifth-section .info-block .part-two .succsess-statistics .succsess-statistics-item {
  margin-bottom: 10.5%;
}
.fifth-section .info-block .part-two .succsess-statistics .succsess-statistics-item .succsess-statistics-text {
  padding-bottom: 2.7%;
}
.fifth-section .info-block .part-two .succsess-statistics .succsess-statistics-item .bar-chart {
  border-bottom: 5px solid #D1B06B;
  position: relative;
  width: 100%;
}
.fifth-section .info-block .part-two .succsess-statistics .succsess-statistics-item .bar-chart::before {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  border-bottom: 5px solid #fff;
  width: calc(100% - 100px);
}
.fifth-section .info-block .part-two .succsess-statistics .first .bar-chart::before {
  width: calc(100% - 75%);
}
.fifth-section .info-block .part-two .succsess-statistics .second .bar-chart::before {
  width: calc(100% - 80%);
}
.fifth-section .info-block .part-two .succsess-statistics .third .bar-chart::before {
  width: calc(100% - 75%);
}
.fifth-section .info-block .part-two .succsess-statistics .fourth .bar-chart::before {
  width: calc(100% - 90%);
}
.fifth-section .info-block .part-two .free-consulting {
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  color: #1F2732;
  background: #D1B06B;
  padding: 25px 71px;
}

.sixth-section {
  margin-bottom: 180px;
}
.sixth-section .info-block {
  display: block;
  margin: 124px auto 155px;
  width: 80%;
  text-align: center;
  justify-content: center;
}
.sixth-section .info-block .section-heading {
  margin-bottom: 11px;
}
.sixth-section .info-block .strange-decoration {
  display: block;
  margin: 0 auto;
}
.sixth-section .grid_block {
  display: grid;
  grid-template-columns: repeat(4, 23.05%);
  grid-template-rows: repeat(3, 30%);
  gap: 30px;
}
.sixth-section .grid_block .grid_item {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 22px;
  justify-content: normal;
  flex-wrap: nowrap;
  gap: 20px;
}
.sixth-section .grid_block .grid_item:nth-child(1) {
  grid-row: 1/3;
  grid-column: 1/2;
}
.sixth-section .grid_block .grid_item:nth-child(2) {
  grid-row: 1/2;
  grid-column: 2/3;
}
.sixth-section .grid_block .grid_item:nth-child(3) {
  grid-row: 1/3;
  grid-column: 3/4;
}
.sixth-section .grid_block .grid_item:nth-child(4) {
  grid-row: 1/2;
  grid-column: 4/5;
}
.sixth-section .grid_block .grid_item:nth-child(5) {
  grid-row: 3/4;
  grid-column: 1/2;
}
.sixth-section .grid_block .grid_item:nth-child(6) {
  grid-row: 2/4;
  grid-column: 2/3;
}
.sixth-section .grid_block .grid_item:nth-child(7) {
  grid-row: 3/4;
  grid-column: 3/4;
}
.sixth-section .grid_block .grid_item:nth-child(8) {
  grid-row: 2/4;
  grid-column: 4/5;
}
.sixth-section .grid_block .grid_item .text-grid-block {
  background: #2E3947;
  border-radius: 1px 1px 1px 40px;
  padding: 51px 51px 57px 45px;
  height: 75%;
}
.sixth-section .grid_block .grid_item .section_heading {
  font-size: 30px;
  line-height: 39px;
}
.sixth-section .grid_block .grid_item .section_text {
  margin: 0;
}
.sixth-section .grid_block .grid_item .grid-image {
  width: 27%;
}

.seventh-section {
  padding-top: 8.6%;
  padding-bottom: 9.2%;
  margin-bottom: 10.5%;
  background-color: #ffff;
}
.seventh-section .section_heading {
  color: #161D27;
  width: 50%;
  display: block;
  margin: 0 auto 1%;
  text-align: center;
}
.seventh-section .strange-decoration {
  display: block;
  margin: 0 auto 5.2%;
}
.seventh-section .attorney-cards .cards-item {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
}
.seventh-section .attorney-cards .cards-item .card-image {
  margin-bottom: 5%;
}
.seventh-section .attorney-cards .cards-item .name {
  font-size: 30px;
  line-height: 39px;
  color: #161D27;
}
.seventh-section .attorney-cards .cards-item .job {
  color: #D1B06B;
  text-align: center;
}
.seventh-section .attorney-cards .cards-item .socials {
  padding: 18px;
  background-color: #FFF;
  position: absolute;
  gap: 20px;
  font-size: 31px;
  text-align: center;
  left: 20%;
  transition: all 0.9s ease;
}
.seventh-section .attorney-cards .cards-item .socials .icon {
  border-radius: 50%;
}

.eighth-section {
  margin-bottom: 150px;
}
.eighth-section .left-part {
  width: 46%;
}
.eighth-section .left-part .section_heading {
  width: 81%;
  margin-bottom: 10px;
}
.eighth-section .left-part .strange-decoration {
  margin-bottom: 43px;
}
.eighth-section .left-part .section_text {
  margin-bottom: 70px;
}
.eighth-section .left-part .free-consulting {
  line-height: 35px;
  color: #1F2732;
  background: #D1B06B;
  border: 1px solid #D1B06B;
  padding: 25px 71px;
}
.eighth-section .right-part {
  width: 46.8%;
  background-color: #ffff;
}
.eighth-section .right-part .content-wrapper {
  padding: 8% 11% 10.3% 6.3%;
  margin: 6.5%;
  border: 15px solid #D7D7D7;
}
.eighth-section .right-part .content-wrapper .section_heading {
  font-size: 42px;
  line-height: 55px;
  letter-spacing: 0.4px;
  color: #1F2732;
}
.eighth-section .right-part .content-wrapper .section_text {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #909090;
  margin-bottom: 37px;
}
.eighth-section .right-part .content-wrapper .call-us-block {
  justify-content: flex-start;
  gap: 15px;
}
.eighth-section .right-part .content-wrapper .call-us-block .section_text {
  margin: 0;
  color: #1F2732;
}
.eighth-section .right-part .content-wrapper .call-us-block .icon {
  background: #D1B06B;
  color: #fff;
  font-size: 22px;
  padding: 22px;
}

.ninth-section {
  background-image: url("../img/nine-section-background.webp");
  background-size: cover;
  padding: 10% 0;
}
.ninth-section .form {
  background-color: #1F2732;
  padding: 105px 100px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}
.ninth-section .form .button {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  padding: 31px 30px;
  color: #3B434E;
  background: #FFFFFF;
  border: 0;
}
.ninth-section .form .info-block {
  justify-content: flex-start;
  gap: 45px;
}
.ninth-section .form .info-block .text-area_block {
  width: 100%;
}
.ninth-section .form .info-block .text-area_block .label-text-area {
  padding-bottom: 10px;
}
.ninth-section .form .info-block .text-area_block .text-area {
  padding: 10px;
  color: #fff;
  font-size: 14px;
  height: 95px;
  width: 100%;
  background-color: #1F2732;
  border-width: 0px 0px 1px 0px;
  border-color: #3B434E;
}
.ninth-section .form .info-block .inputs {
  margin-bottom: 29px;
}
.ninth-section .form .info-block .inputs .info-field {
  width: 45%;
  margin-bottom: 38px;
}
.ninth-section .form .info-block .inputs .info-field .label, .ninth-section .form .info-block .inputs .info-field .label-text-area {
  padding-bottom: 6px;
}
.ninth-section .form .info-block .inputs input, .ninth-section .form .info-block .inputs textarea {
  padding: 10px;
  color: #fff;
  font-size: 14px;
  width: 100%;
  background-color: #1F2732;
  border-width: 0px 0px 1px 0px;
  border-color: #3B434E;
}

.tenth-section {
  margin-bottom: 7%;
}
.tenth-section .section_heading {
  display: block;
  padding-top: 140px;
  text-align: center;
  margin-bottom: 11px;
}
.tenth-section .strange-decoration {
  display: block;
  margin: 0 auto 70px;
  justify-content: center;
}
.tenth-section .content-block {
  padding-bottom: 100px;
  border-bottom: 2px solid #4E555F;
}
.tenth-section .content-block .left-part-image {
  width: 46%;
}
.tenth-section .content-block .right-part {
  width: 47%;
}
.tenth-section .content-block .right-part .higher-text {
  color: #D1B06B;
  justify-content: flex-start;
  gap: 25px;
  padding-bottom: 24px;
  border-bottom: 1px solid #4E555F;
  margin-bottom: 24px;
}
.tenth-section .content-block .right-part .higher-text .section_text {
  border: 0;
  padding: 0;
  margin: 0;
}
.tenth-section .content-block .right-part .section_text {
  margin-bottom: 17px;
}
.tenth-section .content-block .right-part .section_heading {
  padding: 0;
  text-align: start;
  margin-bottom: 24px;
}
.tenth-section .content-block .right-part .view-more-link {
  color: #D1B06B;
  border-bottom: 2px solid #D1B06B;
}

.eleveth-section {
  gap: 20px;
  justify-content: flex-start;
  margin-bottom: 9%;
  padding-top: 100px;
}
.eleveth-section .article-block {
  width: 32%;
  margin-bottom: 100px;
}
.eleveth-section .article-block .article-image {
  margin-bottom: 24px;
}
.eleveth-section .article-block .higher-text {
  color: #D1B06B;
  justify-content: flex-start;
  gap: 15px;
  padding-bottom: 24px;
  border-bottom: 1px solid #4E555F;
  margin-bottom: 24px;
}
.eleveth-section .article-block .higher-text .section_text {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 21px;
  line-height: 34px;
}
.eleveth-section .article-block .section_text {
  margin-bottom: 17px;
  font-size: 20px;
  line-height: 32px;
}
.eleveth-section .article-block .section_heading {
  padding: 0;
  text-align: start;
  margin-bottom: 24px;
  font-size: 30px;
  line-height: 39px;
}
.eleveth-section .article-block .view-more-link {
  color: #D1B06B;
  border-bottom: 2px solid #D1B06B;
}

.footer {
  padding-bottom: 8%;
}
.footer .heading {
  margin-bottom: 93px;
}
.footer .heading .left-decoration {
  width: 33%;
}
.footer .heading .logo {
  width: 30%;
}
.footer .heading .right-decoration {
  width: 33%;
}
.footer .footer-content-block {
  gap: 100px;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 85px;
}
.footer .footer-content-block .footer-content .footer-content-item-header {
  font-size: 30px;
  line-height: 39px;
  padding: 20px 0;
  border-top: 1px solid #3B434E;
  border-bottom: 1px solid #3B434E;
  margin-bottom: 38px;
}
.footer .footer-content-block .footer-content .list_wrapper {
  gap: 16%;
  justify-content: flex-start;
}
.footer .footer-content-block .first {
  width: 23%;
}
.footer .footer-content-block .second {
  width: 13%;
}
.footer .footer-content-block .third {
  width: 13%;
}
.footer .footer-content-block .fourth {
  width: 27%;
  gap: 60px;
}
.footer .footer-content-block .fourth .footer-content-list {
  gap: 70px;
}
.footer .copyright_wrapper {
  padding: 25px 0 0;
  border-top: 2px solid #3B434E;
  border-bottom: 2px solid #3B434E;
}
.footer .copyright_wrapper .author {
  color: #D1B06B;
}
.footer .copyright_wrapper .copyright {
  gap: 10px;
}
.footer .copyright_wrapper .socials {
  gap: 21px;
  padding-bottom: 29px;
}
.footer .copyright_wrapper .socials .author {
  margin: 0;
}
.footer .copyright_wrapper .socials .icon {
  color: #ffff;
  background-color: #161D27;
  border: 50%;
  font-size: 18px;
}

/* cormorant-garamond-300 - latin */
@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-300.woff2") format("woff2"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-300.woff") format("woff"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-300.ttf") format("truetype"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-300.svg#CormorantGaramond") format("svg");
  /* Legacy iOS */
}
/* cormorant-garamond-regular - latin */
@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-regular.woff2") format("woff2"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-regular.woff") format("woff"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-regular.ttf") format("truetype"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-regular.svg#CormorantGaramond") format("svg");
  /* Legacy iOS */
}
/* cormorant-garamond-700 - latin */
@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-700.woff2") format("woff2"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-700.woff") format("woff"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-700.ttf") format("truetype"), url("../fonts/cormorant -garamond/cormorant-garamond-v16-latin-700.svg#CormorantGaramond") format("svg");
  /* Legacy iOS */
}
/* outfit-regular - latin */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/outfit/outfit-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/outfit/outfit-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/outfit/outfit-v6-latin-regular.woff2") format("woff2"), url("../fonts/outfit/outfit-v6-latin-regular.woff") format("woff"), url("../fonts/outfit/outfit-v6-latin-regular.ttf") format("truetype"), url("../fonts/outfit/outfit-v6-latin-regular.svg#Outfit") format("svg");
  /* Legacy iOS */
}
.container {
  width: 95%;
  max-width: 1360px;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-column {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: 2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Emphatic
   */
.hamburger--emphatic {
  overflow: hidden;
}
.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}
.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}
.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}
.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}
.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.lower_header .nav_list_wrapper .nav_list .nav_item:hover {
  color: #D1B06B;
  transition: all 0.4s ease;
}

.footer-content-item:hover {
  color: #D1B06B;
  transition: all 0.4s ease;
}

.cards-item:hover .socials {
  transform: translateY(-216%);
  transition: all 0.9s ease;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/iconmoon/icomoon.eot");
  src: url("../fonts/iconmoon/icomoon.eot") format("embedded-opentype"), url("../fonts/iconmoon/icomoon.ttf") format("truetype"), url("../fonts/iconmoon/icomoon.woff") format("woff"), url("../fonts/iconmoon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "";
  color: #d1b06b;
}

.icon-parentheses:before {
  content: "";
  color: #d1b06b;
}

.icon-heart:before {
  content: "";
  color: #d1b06b;
}

.icon-phone:before {
  content: "";
}

.icon-envelop:before {
  content: "";
}

.icon-facebook2:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-pinterest:before {
  content: "";
}

@media screen and (max-width: 1366px) {
  .hero_wrapper .hero-man {
    width: 48%;
  }

  .second-section {
    padding-bottom: 140px;
  }
  .second-section .card-block .card-block-item {
    width: 35.3%;
  }

  .eleveth-section .article-block {
    width: 30%;
  }
}
@media screen and (max-width: 1024px) {
  .section_heading {
    font-size: 39px;
  }

  .section_text {
    font-size: 17px;
  }

  .first-section .first-section_info-block .block-of-showing-off_1 .succsess-info-block .success-info {
    line-height: 20px;
  }
  .first-section .first-section_info-block .block-of-showing-off_1 .work-experience-block .work-experience-info {
    line-height: 30px;
  }

  .third-section .block-of-showing-off_2 .block-of-showing-off_2-item {
    width: 35%;
    margin: 0 auto;
  }

  .fifth-section .info-block .part-one {
    width: 52.7%;
  }
  .fifth-section .info-block .divider-photo {
    width: 25.2%;
  }
  .fifth-section .info-block .part-two {
    width: 41.8%;
    margin: 0 auto;
  }
  .fifth-section .info-block .part-two .free-consulting {
    padding: 18px 63px;
  }

  .sixth-section .grid_block .grid_item .text-grid-block .section_text {
    font-size: 14px;
  }

  .eleveth-section .article-block .higher-text .section_text {
    font-size: 17px;
    line-height: 17px;
  }
  .eleveth-section .article-block .section_heading {
    font-size: 23px;
    line-height: 35px;
  }
  .eleveth-section .article-block .section_text {
    font-size: 15px;
    line-height: 26px;
  }

  .footer .footer-content-block .first {
    width: 16%;
  }
}
@media screen and (max-width: 768px) {
  .section_heading {
    line-height: 45px;
    font-size: 34px;
  }

  .section_text {
    line-height: 29px;
    font-size: 15px;
  }

  .first_wrapper .header_wrapper .higher_header .logo_wrapper .logo {
    width: 86%;
  }
  .first_wrapper .header_wrapper .lower_header .nav-list_wrapper .nav_list .nav_item {
    font-size: 17px;
    line-height: 32px;
  }
  .first_wrapper .header_wrapper .lower_header .info {
    width: 58%;
  }
  .first_wrapper .header_wrapper .lower_header .info .call-us .icon, .first_wrapper .header_wrapper .lower_header .info .mail-us .icon {
    padding: 10px;
  }
  .first_wrapper .header_wrapper .lower_header .info .call-us .flex-column .info-text, .first_wrapper .header_wrapper .lower_header .info .mail-us .flex-column .info-text {
    font-size: 15px;
    line-height: 17px;
  }
  .first_wrapper .header_wrapper .lower_header .info .call-us .flex-column .requisites, .first_wrapper .header_wrapper .lower_header .info .mail-us .flex-column .requisites {
    font-size: 19px;
  }
  .first_wrapper .hero_wrapper .hero_info_wrapper .hero_heading {
    font-size: 53px;
    line-height: 62px;
  }
  .first_wrapper .hero_wrapper .hero_info_wrapper .hero_text {
    font-size: 19px;
    line-height: 32px;
  }
  .first_wrapper .hero_wrapper .hero_info_wrapper .communication_hero_button {
    padding: 4%;
    font-size: 18px;
  }

  .first-section .first-section_info-block .block-of-showing-off_1 {
    gap: 13px;
  }
  .first-section .first-section_info-block .block-of-showing-off_1 .work-experience-block {
    width: 38.5%;
  }
  .first-section .first-section_info-block .block-of-showing-off_1 .succsess-info-block {
    width: 34.5%;
  }

  .third-section .block-of-showing-off_2 .block-of-showing-off_2-item {
    width: 43%;
  }

  .fourth-section .heading {
    width: 46%;
  }
  .fourth-section .logos {
    gap: 20px;
  }

  .fifth-section .info-block .divider-photo {
    width: 32.2%;
  }
  .fifth-section .info-block .part-two .free-consulting {
    padding: 14px 57px;
  }

  .sixth-section .grid_block {
    gap: 15px;
  }
  .sixth-section .grid_block .grid_item .text-grid-block {
    padding: 20px 11px 58px 12px;
  }

  .footer .footer-content-block {
    gap: 53px;
  }
}
@media screen and (min-width: 426px) {
  .first_wrapper .hamburger--emphatic {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .first_wrapper {
    height: 44em;
  }
  .first_wrapper .header_wrapper .higher_header .logo_wrapper {
    width: 75%;
  }
  .first_wrapper .header_wrapper .higher_header .help_button {
    display: none;
  }
  .first_wrapper .header_wrapper .higher_header .hamburger--emphatic {
    z-index: 3;
  }
  .first_wrapper .header_wrapper .higher_header .hamburger--emphatic .hamburger-inner, .first_wrapper .header_wrapper .higher_header .hamburger--emphatic .hamburger-inner::after, .first_wrapper .header_wrapper .higher_header .hamburger--emphatic .hamburger-inner::before {
    background-color: #2a3a66;
  }
  .first_wrapper .header_wrapper .lower_header .nav_list_wrapper {
    width: 46%;
    margin-bottom: 20px;
  }
  .first_wrapper .header_wrapper .lower_header .nav_list_wrapper .nav_list {
    justify-content: center;
  }
  .first_wrapper .hero_wrapper .hero_info_wrapper {
    width: 80%;
  }
  .first_wrapper .hero_wrapper .hero_info_wrapper .hero_heading {
    font-size: 45px;
    line-height: 50px;
  }
  .first_wrapper .hero_wrapper .hero_info_wrapper .hero_text {
    font-size: 20px;
    line-height: 26px;
  }
  .first_wrapper .hero_wrapper .hero_info_wrapper .communication_hero_button {
    padding: 2%;
  }
  .first_wrapper .hero_wrapper .hero-man {
    width: 60%;
  }

  .side-block {
    position: fixed;
    background-color: #22223c;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 300px;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.5s ease;
    transform: translateX(100%);
  }
  .side-block.open {
    transform: translateX(0%);
  }

  .first-section {
    display: block;
    padding-bottom: 120px;
  }
  .first-section .first-section_image-block .mobile-none {
    display: none;
  }
  .first-section .first-section_info-block {
    width: 91%;
    text-align: center;
    margin: 0 auto;
  }
  .first-section .first-section_info-block .quoter-block {
    justify-content: center;
  }

  .second-section {
    padding-bottom: 100px;
  }
  .second-section .second-section_info-block {
    display: block;
    text-align: center;
  }
  .second-section .second-section_info-block .section-heading-block {
    width: 100%;
  }
  .second-section .second-section_info-block .section_text {
    width: 100%;
  }
  .second-section .card-block .card-block-item {
    width: 80%;
    text-align: center;
    justify-content: center;
  }
  .second-section .card-block .card-block-item .more-information-link {
    display: block;
    margin: 10px 18px;
    width: 32%;
  }

  .third-section .higher-block {
    width: 100%;
  }
  .third-section .block-of-showing-off_2 .block-of-showing-off_2-item {
    width: 80%;
  }

  .fifth-section .info-block {
    gap: 0;
  }
  .fifth-section .info-block .part-one {
    width: 100.7%;
    margin-bottom: 26px;
    justify-content: center;
    text-align: center;
  }
  .fifth-section .info-block .divider-photo {
    width: 45.2%;
  }
  .fifth-section .info-block .part-two {
    width: 50.8%;
    text-align: center;
  }
  .fifth-section .info-block .part-two .succsess-statistics .succsess-statistics-item {
    padding-bottom: 1%;
  }
  .fifth-section .info-block .part-two .free-consulting {
    padding: 9px 16px;
    font-size: 18px;
  }

  .sixth-section .grid_block {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(6, 15%);
    gap: 11px;
    margin: 0 auto;
    padding: 15px;
  }
  .sixth-section .grid_block .grid_item:nth-child(1) {
    grid-row: 1/3;
    grid-column: 1/2;
  }
  .sixth-section .grid_block .grid_item:nth-child(2) {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .sixth-section .grid_block .grid_item:nth-child(3) {
    grid-row: 5/7;
    grid-column: 2/3;
  }
  .sixth-section .grid_block .grid_item:nth-child(4) {
    grid-row: 6/7;
    grid-column: 1/2;
  }
  .sixth-section .grid_block .grid_item:nth-child(5) {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .sixth-section .grid_block .grid_item:nth-child(6) {
    grid-row: 2/4;
    grid-column: 2/3;
  }
  .sixth-section .grid_block .grid_item:nth-child(7) {
    grid-row: 4/5;
    grid-column: 2/3;
  }
  .sixth-section .grid_block .grid_item:nth-child(8) {
    grid-row: 4/6;
    grid-column: 1/2;
  }

  .eighth-section .container {
    display: block;
    text-align: center;
  }
  .eighth-section .container .left-part {
    width: 100%;
    margin-bottom: 77px;
  }
  .eighth-section .container .left-part .section_heading {
    width: 95%;
  }
  .eighth-section .container .right-part {
    width: 100%;
  }
  .eighth-section .container .right-part .content-wrapper {
    margin: 0;
  }
  .eighth-section .container .right-part .content-wrapper .call-us-block {
    justify-content: center;
  }

  .ninth-section .form {
    padding: 26px 29px;
  }
  .ninth-section .form .info-block .inputs {
    display: block;
  }
  .ninth-section .form .info-block .inputs .info-field {
    width: 89%;
  }
  .ninth-section .form .info-block .inputs .info-field .label {
    font-size: 20px;
  }
  .ninth-section .form .button {
    margin: 30px auto 0;
    padding: 20px 30px;
    font-size: 17px;
  }

  .tenth-section .content-block {
    display: block;
  }
  .tenth-section .content-block .left-part-image {
    width: 100%;
    margin: 0 auto 20px;
    display: block;
  }
  .tenth-section .content-block .right-part {
    width: 100%;
    text-align: center;
  }
  .tenth-section .content-block .right-part .higher-text {
    justify-content: center;
  }

  .eleveth-section .container {
    gap: 10px;
  }
  .eleveth-section .container .article-block {
    padding-top: 20px;
    width: 48%;
  }
  .eleveth-section .container .article-block .higher-text {
    text-align: center;
    justify-content: center;
  }
  .eleveth-section .container .article-block .higher-text .section_text {
    font-size: 14px;
    line-height: 17px;
  }
  .eleveth-section .container .article-block .section_heading {
    font-size: 16px;
    line-height: 28px;
  }
  .eleveth-section .container .article-block .section_text {
    font-size: 11px;
    line-height: 23px;
  }

  .footer .footer-content-block {
    justify-content: center;
    text-align: center;
  }
  .footer .footer-content-block .first {
    width: 34%;
  }
  .footer .footer-content-block .second {
    width: 35%;
  }
  .footer .footer-content-block .third {
    width: 35%;
  }
  .footer .footer-content-block .fourth {
    width: 48%;
  }
  .footer .copyright_wrapper {
    justify-content: center;
  }
  .footer .copyright_wrapper .copyright {
    justify-content: center;
  }
}
@media screen and (max-width: 375px) {
  .third-section .block-of-showing-off_2 .block-of-showing-off_2-item {
    width: 90%;
  }

  .fifth-section .info-block .part-two .succsess-statistics .succsess-statistics-item .succsess-statistics-text {
    font-size: 12px;
  }

  .sixth-section .grid_block .grid_item .text-grid-block {
    padding: 20px 11px 38px 12px;
  }
  .sixth-section .grid_block .grid_item .text-grid-block .section_text {
    font-size: 10px;
    line-height: 23px;
  }

  .tenth-section .content-block .right-part .section_heading {
    text-align: center;
  }

  .eleveth-section .container .article-block {
    width: 43%;
  }
}
@media screen and (max-width: 320px) {
  .first-section .first-section_info-block .block-of-showing-off_1 .work-experience-block {
    width: 41.5%;
  }

  .third-section .block-of-showing-off_2 .block-of-showing-off_2-item {
    width: 80%;
    justify-content: center;
    text-align: center;
  }

  .fifth-section .info-block .part-two .free-consulting {
    padding: 9px 16px;
    font-size: 15px;
  }

  .sixth-section .grid_block .grid_item {
    gap: 5px;
  }

  .cards-item:hover .socials {
    transform: translateY(-316%);
  }

  .seventh-section .attorney-cards .cards-item .socials {
    padding: 13px;
    font-size: 22px;
  }
}