@font-face {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  src: url("/11_Manifest_adaptive/assets/fonts");
}
@font-face {
  font-family: "Red Hat Display", sans-serif;
  font-weight: normal;
  src: url("/11_Manifest_adaptive/assets/fonts");
}
@font-face {
  font-family: "Covered By Your Grace", cursive;
  font-weight: normal;
  src: url("/11_Manifest_adaptive/assets/fonts");
}