@media screen and (min-width:1367px){

    .hamburger-box{
        left:1000px;
    }
    .header-block{
        padding: 2% 0;
        .button-block{
            display:none;
        }
    }

}
@media screen and (max-width:1366px){
    .section-team-item{
        padding: 0px 40px;
    }
    .side-block {
        position: fixed;
        background-color: #fff;
        right: 0;
        top: 0;
        bottom: 0;
        width: 75%;
        max-width: 440px;
        flex-direction: column;
        z-index: 1;
        align-items: center;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;
        transition: all .5s ease;
        transform: translateX(100%);

        &.open {
            transform: translateX(10%);
        }

        .nav-item {
            font-size: 24px;
            font-weight: bold;
            font-weight: 700;
            width: 100%;
            padding: 10px 0;
            text-align: center;
            &:hover { 
                a {
                    color: grey;
                }
            }
        }
    }
}

@media screen and (max-width:768px){
    .section-block{
        .main-title{
            font-size:33px;
            line-height:50px;
        }
        .description{
            width:100%;
        }
        .section-title {
            margin-bottom: 7%;
        }
    }
    .footer-block{
        padding-bottom:6.6%;
        .flex-column{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px 0px;
            gap: 40px;
            .phone-number{
                text-align: center;
            }
            .email{
                text-align: center;
            }
        }
    }
}

@media screen and (max-width:320px){
    .container{
        width:94%;
    }

    .main-block{
        padding-top: 19.05%;
    }
    .section-block{
        margin: 0 auto 70px;
        .main-title{
            font-size:28px;
        }
        .section-title{
            font-size:26px;
            margin-bottom:13.5%;
        }
        .section-text{
            font-size:16px;
            margin: 6.7% 0 3%;
        }
    }
    .CTA-heading{
        text-align: center;
    }
    .footer-block{
        .copyright{
            font-size:16px;
        }
    }
    
}