@media screen and (min-width: 1367px) {
  .hamburger-box {
    left: 1000px;
  }
}
@media screen and (max-width: 1366px) {
  .section-team-item {
    padding: 0px 40px;
  }

  .side-block {
    position: fixed;
    background-color: #fff;
    right: 0;
    top: 0;
    bottom: 0;
    width: 75%;
    max-width: 440px;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.5s ease;
    transform: translateX(100%);
  }
  .side-block.open {
    transform: translateX(10%);
  }
  .side-block .nav-item {
    font-size: 24px;
    font-weight: bold;
    font-weight: 700;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }
  .side-block .nav-item:hover a {
    color: grey;
  }
}