body {
  background-color: #F6F6F6;
}

.header-block {
  width: 100%;
  padding: 20px 0;
  background-color: #ffff;
  position: fixed;
  z-index: 11;
}
.header-block .button-block {
  z-index: 13;
}
.header-block .logo-link {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5em;
  color: #000000;
}

.main-block {
  padding-top: 130px;
}