body{
    background:#ffff;
}

.header-block{
    width:100%;
    padding:1.4% 0;
    background-color: #ffff;
    position:fixed;
    z-index:11;
    .button-block{
        z-index:13;
    }
    .logo-link{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.5em;
        color: #000000;
    }
    .nav-list{
        .nav-item{
            font-family: 'Covered By Your Grace', cursive;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            text-transform: uppercase;
            color: #3C3C3C;
            padding-right: 2.2em;
            transform: skewX(-15deg)
        }    
    }
}

.section-block{
    text-align: left;
    margin: 0 auto 90px;
    .main-title{
        font-family:'Red Hat Display', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: 0.05em;
        color: #000000;
        margin-bottom: 6.05%;
    }
    .section-title{  
        font-family:'Red Hat Display', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: #000000;
        margin-bottom:4.5%;
    }
    .section-text{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 32px;
        letter-spacing: 0.05em;
        color: #565656;
        margin:1% 0 3%;
    }
    .description{
        width:50%;
    }
}



.main-block{
    position:relative;
    padding-top: 9.05%;
}

.icon-block{
    .icon{
        font-size:20px;
        color: #565656;
        border: 1px solid  #565656;
        padding:13px 12px;
    }
}

.footer-block{
    padding: 5% 0 2.1%;
    background: #F4F4F4;
    .CTA-heading{
        font-family: 'Red Hat Display', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: 0.05em;
        color: #000000;
        margin-bottom:8.1%;
    }
    .contacts-block{
        font-family: 'Lato',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: #000000;

    }
    .phone-number{
        margin-bottom:4.1%;
    }
    .copyright{
        font-family: 'Lato',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: #000000;
        margin:0 auto;
        text-align:center;
        margin-top:1.75%;
    }
}