.section_wrapper{
    display:block;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
.section_text{
    display: block;
    margin: 0 auto 20px;
    text-align: center;
    font-size: 28px;
    color: cornflowerblue;
}

.main_input{
    border: 1px solid #6495ed;
    border-radius: 5px;
    padding: 3px;
}   

.find_button{
    border: 1px solid #6495ed;
    border-radius: 5px;
    background-color: #64d4ed;
    color: #fff;
    padding: 3px 5px;
}

.radio_button{
    font-size: 18px;
    color: #64d4ed;
}