body{
    background: #E5E5E5;
}

.basic_montserrat_style{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    }
    
.section_heading{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
    color: #2C4058;
}

.smaller_heading{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #2C4058;
}

.projects_text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #2C4058;
}

.address_wrapper{
    justify-content: flex-start;
    .address_text{
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #000000;
    }
}


.button_styles{
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding:16px 41px;
    box-sizing: border-box;
    border: 1px solid #2C4058;
    transition: all .5s ease;
}

.slick-dots{
    position: absolute;
    right: -11%;
    top: -28%;
    list-style:none;
    justify-content: center;
    padding: 0;
    gap:12px;
    li{
        button{
            font-size: 0;
            width:12px;
            height:12px;
            border-radius: 50%;
            padding: 0;
            cursor:pointer;
            border: 0;
            outline: 0;
            background:none;
            border:2px solid white;
            margin-bottom:40px;
            
        }
        &:last-of-type{
               button{
                margin-bottom:0px;
               }
        }
    }
    .slick-active button{
        background:white
    }
}

.arrow-icon{
    font-size: 26px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 12px 16px 12px 18px;
    transition: all .5s ease;
}

.socials_wrapper{
    gap:20px;
    .socials_item{
        .icon{
            color: white;
            border: 1px solid white;
            border-radius: 50%;
            padding: 11px;
            transition: all .5s ease;
        }
    }
}

.main_wrapper{
    .first_section_wrapper{
        position: relative;
        background-image: url(../img/background_hero_section.webp);
        height: 50em;
        background-repeat: no-repeat;
        max-width: 1600px;
        display: block;
        margin: 0 auto;
        .header_wrappper{
            padding-top: 53px;
            .logo_link{
                .monticello_logo{
                    transition: all .5s ease;
                }
            }
            .nav_list_wrapper{
                .list_wrapper{
                    gap: 70px;
                    .list_item{
                        position:relative;
                        font-family: 'Source Sans Pro';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;
                        color: #FFFFFF;
                        transition: all .5s ease;
                        &::before{
                            position: absolute;
                            content: "";
                            top: 4.5px;
                            left: -24px;
                            width: 9px;
                            height: 9px;
                            border-radius: 50%;
                            border: 1px solid #fff;
                            transition: all .5s ease;
                        }
                    }
                }
            }
        }
        .hero_wrapper{
            margin: 13.78%;
            text-align: center;
            .hero_heading{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 80px;
                line-height: 98px;
                letter-spacing: 0.1em;
                color: #FFFFFF;
                margin-bottom:40px;
            }
            .slick-dots{
                position: absolute;
                right: -11%;
                top: -28%;
                list-style:none;
                justify-content: center;
                padding: 0;
                gap:12px;
            }
        }
    }
    .projects_wrapper{
        .projects_heading{
            padding-top:130px;
            margin-bottom:147px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                display: inline-block;
                width: 100px;
                border: solid #2C4058;
                border-width: 0 0 1px;
                top: 100px;
                left: 45%;
            }
        }
        .first_project_wrapper, .second_project_wrapper{
            margin-bottom:120px;
            .right_part_wrapper{
                width: 40%;
                text-align: left;
                .section_heading{
                    text-align: left;
                    margin-bottom:20px;
                }
                .projects_text{
                    margin-bottom:56px;
                }
                .button_wrapper{
                    margin-bottom:77px;
                }
            }
        }
        .first_project_wrapper{
            .left_part_wrapper{
                .background_picture{
                    position: relative;
                    &::after{
                        content: "";
                        width: 585px;
                        height: 470px;
                        background: #55B7FF;
                        position: absolute;
                        z-index: -1;
                        left: -14em;
                        top: -49px;
                    }
                }
            }
        }
        .second_project_wrapper{
            .left_part_wrapper{
                .background_picture{
                    position: relative;
                    &::after{
                        content: "";
                        width: 585px;
                        height: 470px;
                        background: #7E5AFF;
                        position: absolute;
                        z-index: -1;
                        right: -50em;
                        top: -49px;
                    }
                }
            }
        }
    }
    .news_wraper{
        background-image: url('../img/news_background.webp');
        height:50em;
        background-repeat: no-repeat;
        padding-top: 150px;
        .section_heading{
            margin-bottom:90px;
            color: white;
            position:relative;
            &::before{
                content: "";
                position: absolute;
                width: 100px;
                border: solid #fff;
                border-width: 0 0 1px;
                top: -55%;
                left: 47%;
            }
        }
        .slick-dots{
            gap: 40px;
            display: flex;
            justify-content: center;
            margin: 40px auto 0;
            align-items: center;
            left: 42%;
            right: auto;
            top: auto;
            li{
                button{
                    margin-bottom:0px;
                }
            }
        }
        .news_slider_wrapper{
            .news_slide_item{
                margin-right: 30px;
                max-width: 370px;
                max-height:514px;
               .content_wrapper{
                background-color: #FFFFFF;
                padding: 30px 15px 30px;
                .news_heading{
                    font-weight: 700;
                    margin-bottom:15px;
                }
                .news_text{
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    color: #2C4058;
                    margin-bottom:40px;
                }
                .person_info_wrapper{
                    display: flex;
                    align-items: center;
                    margin-bottom: 30px;
                    .avatar{
                        width:100%;
                        max-width:60px;
                        height: 100%;
                        max-height: 60px;
                        border-radius: 50%;
                        margin-right:14px;
                    }
                    .smaler_person_info_wrapper{
                        .person_name{
                            color: #2C4058;
                            letter-spacing: normal;
                        }
                        .date{
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                            color: #55B7FF;
                        }
                    }
                }
               }
            }
        }
    }
    .slick-arrow{
        background-color:transparent;
        border: none;
        outline: none;
        position: absolute;
        top:50%;
        z-index:1;
        cursor: pointer;
            img{
                width: 40px;
                display: inline-block;
            }
    }
    .slick-prev{
        left: -8%;
        transform: translateY(-50%);
        transform: rotate(180deg);
    }
    
    .slick-next{
        right: -5%;
        transform: translateY(-50%);
    }
    .gallery_wrapper{
        .section_heading{
            position:relative;
            margin-top:180px;
            margin-bottom:90px;
            &::before{
                content: "";
                position: absolute;
                display: inline-block;
                width: 100px;
                border: solid #2C4058;
                border-width: 0 0 1px;
                top: -50px;
                left: 45%;
            }
        }
        .grid_block{
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 214px);
            margin-bottom:76px;
            .grid_item:nth-child(1) { 
                grid-row: 1 / 3;
                grid-column: 1 / 3; 
            }
        
            .grid_item:nth-child(2) {
                grid-row: 1 / 2;
                grid-column: 3 / 4; 
            }
        
            .grid_item:nth-child(3) {
                grid-row: 1 / 2;
                grid-column: 4 / 5; 
            }
        
            .grid_item:nth-child(4) {
                grid-row: 2 / 3;
                grid-column: 3 / 4; 
            }
        
            .grid_item:nth-child(5) {
                grid-row: 2 / 3;
                grid-column: 4 / 5; 
            }
        }
        .button_wrapper{
            text-align: center;
            margin-bottom:167px;
        }
    }
    .info_wrapper{
        align-items: baseline;
        position: relative;
        gap: 54px;
        #map{
            position: relative;
            height: 600px;
            width: 100%;
            margin: 50px auto 0;
            outline: 0;
            z-index: -1;
        }
        .contact_wrapper{
            background-image: url(../img/contacts_background.webp);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: bottom;
            display: block;
            margin: 0 auto;
            padding: 90px 60px 73px;
            background-color: #fff;
            width: 40.67%;
            position: absolute;
            left: 26%;
            bottom: -150px;
            .form_wrapper_heading{
                margin-bottom:42px;
            }
            .left_part_info{
                width: 48.8%;
                gap: 29px;
                .form_text{
                    font-family: 'Montserrat',sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    line-height:28px;
                    .form_icon{
                        color: #7E5AFF;
                        margin-right: 10px;
                    }
                }
            }
            .right_part_wrapper{
                width: 41%;
                    .info-field{
                        width:100%;
                        margin-bottom:30px;
                        
                    }
                    &:last-child{
                        .info-field{
                            margin-bottom:45px;
                        }
                    }
                    input, textarea{
                        padding:10px;
                        width:100%;
                        border-width: 0px 0px 1px 0px;
                        border-color:  #2C4058;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 27px;
                        color: #4B5562;
                        opacity: 0.5;
                        transition: all .5s ease;
                    }
            }
        }
    }
}

.footer_wrapper{
    background-image: url(../img/footer_background.webp);
    height: 33em;
    background-repeat:no-repeat;
    .flex-column{
        gap:41px;
        .copyright{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
        }
    }
    .socials_wrapper{
        width: 21%;
    }
}