
.main_wrapper{
    .first_section_wrapper{
        .header_wrappper{
            .nav_list_wrapper{
                .list_wrapper{
                    .list_item{
                        &:hover{
                            -webkit-transition: all .5s ease;
                            -o-transition: all .5s ease;
                            transition: all .5s ease;
                            font-size:16px;
                            &::before{
                                background-color: white;
                                color:white;
                                -webkit-transition: all .5s ease;
                                -o-transition: all .5s ease;
                                transition: all .5s ease;
                            }
                        }
                    }
                }
            }
        }
    }
} 

.logo_link{
    .monticello_logo{
        &:hover{
            -webkit-transform: scaleX(1.1);
                -ms-transform: scaleX(1.1);
                    transform: scaleX(1.1);
            -webkit-transition: all .5s ease;
            -o-transition: all .5s ease;
            transition: all .5s ease;
        }
    }
}

.socials_wrapper {
    .socials_item{
        .icon{
            &:hover{
                padding: 13px;
                font-size: 17px;
                -webkit-transition: all .5s ease;
                -o-transition: all .5s ease;
                transition: all .5s ease;
            }
        }
    }
}

.button_styles {
    &:hover{
        font-size: 16px;
        padding: 19px 45px;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
}

.arrow-icon {
    &:hover{
        font-size: 30px;
        padding: 16px 20px 16px 20px;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
}

.main_wrapper{
    .info_wrapper{
        .contact_wrapper{
            .right_part_wrapper input, textarea {
                &:hover, &:active{
                    padding: 12px;
                    border-width: 0 0 2px;
                    border-color: #2C4058;
                    color:#2C4058;
                    -webkit-transition: all .5s ease;
                    -o-transition: all .5s ease;
                    transition: all .5s ease;
                }
            }
        }
    }
}