/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

//SOME BASIC STYLES

body{
    background: #161926;
}

.section-text{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 0.6;
}

.section-heading{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}

.smaller-section-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.08em;
}

.smaller-section-heading{
    font-style: italic;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
}

.blue-text{
    font-style: italic;
    color: #689FF2; 
}
.neon-button{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #53F3CD;
    position:relative;
    &::before{
        content: "";
        position: absolute;
        left: 10px;
        bottom: -3px;
        width: 100%;
        height: 13px;
        background: #53F3CD;
        opacity: .3;
    }
}

//HEADER
.background-wrapper{
    background-image: url("../img/first-screen-bg-image.webp");
    padding-top: 28px;
    margin-bottom: 8.4%;
    background-repeat: no-repeat;
} 

.header-wrapper{
    padding: 24px 0;
    margin: 0 auto 150px;
    background: -webkit-gradient(linear, right top, left top, from(rgba(22, 25, 38, 0.5)), color-stop(24.1%, rgba(22, 25, 38, 0)), color-stop(47.19%, rgba(22, 25, 38, 0))), rgba(22, 25, 38, 0.02);
    background: -o-linear-gradient(right, rgba(22, 25, 38, 0.5) 0%, rgba(22, 25, 38, 0) 24.1%, rgba(22, 25, 38, 0) 47.19%), rgba(22, 25, 38, 0.02);
    background: linear-gradient(270deg, rgba(22, 25, 38, 0.5) 0%, rgba(22, 25, 38, 0) 24.1%, rgba(22, 25, 38, 0) 47.19%), rgba(22, 25, 38, 0.02);
    -webkit-backdrop-filter: blur(9px);
            backdrop-filter: blur(9px);
    background-repeat: no-repeat;
    .nav-list{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        .nav-item{
            position:relative;
            margin-right: 28.5px;
            &:last-of-type{
                margin-right:0;
            }
            &::before{
                content: '';
                position: absolute;
                left: 0; 
                bottom: -5px;
                width: 0%;
                height: 3px;
                opacity: 0.3;
                -webkit-transition:  .7s ease-in;
                -o-transition:  .7s ease-in;
                transition:  .7s ease-in;
            }
        }
    }
}

.first-screen-content-wrapper{
    margin-bottom:154px;
    .section-heading{
        width:44.8%;
        font-size: 44px;
        line-height: 52px;
        margin-bottom:18px;
    }
    .section-text{
        width:37.6%;
        margin-bottom:50px;
    }
}

.info-wrapper{
    position:relative;
    margin-bottom:120px;
    .info-image{
        max-width:570px;
    }
    .info-right{
        position: absolute;
        top: 6.6%;
        left: 34%;
        background: #161926;
        opacity: 0.9;
        padding:46px 0 13px 0px;
        -webkit-box-align:start;
            -ms-flex-align:start;
                align-items:flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        .info-list{
            width:48%;
            .info-list-item{
                text-align: center;
                &:last-child{
                    .bottom-text{
                        margin-bottom: 31px;
                    }
                }
                .number-span{
                    margin-bottom:25px;
                    position:relative;
                    .dolar{
                        line-height: 50px;
                        text-align: center;
                    }
                    .number{
                        font-size: 68px;
                        line-height: 72px;
                        text-align: center;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        display: inline-block;
                        width: 100px;
                        border: solid #DDDBDB;
                        border-width: 0 1px 1px 0;
                        left: 19%;
                        bottom: -141%;
                    
                    }
                }
                &:nth-child(2){
                    .number-span{
                        &::after{
                            left:31%;
                        }
                    }
                }
                &:last-of-type{
                    .number-span{
                        &::after{
                            display:none;
                        }
                    }
                }
                .bottom-text{
                    margin-bottom:79px;
                    padding-top:12px;
                    text-align: center;
                }
            }
        }
        .text-wrapper{
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            width:51%;
            .info-right-text{
                margin-bottom: 27px;
                letter-spacing: 0.17px;
                &:nth-child(2){
                    margin-bottom: 50px;
                }
            }
        }
    }
}

.benefits-wrapper{
    position:relative;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom:36px;
    .benefits-item{
        width: 41%;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        text-align: left;
        padding: 51px 35px 52px;
        margin-bottom: 60px;
        margin-right: 51px;
        border-top:1px solid #515773;
        &:nth-child(2n){
            margin-right:0px;
        }
        &:nth-child(4){
           .section-heading{
            width:80%;
           }
        }
        .section-heading{
            margin-bottom:28px;
        }
        .section-text{
            letter-spacing: 0.1px;
        }
    }
}

.quote-wrapper{
    background-image: url('../img/quote-background.webp');
    background-repeat: no-repeat;
    margin-bottom:120px;
    .text-wrapper{
        width: 60%;
    text-align: left;
    padding: 100px 300px 100px 161px;;
        .section-text{
            font-weight:400;
            font-size: 32px;
            line-height: 46px;
            letter-spacing: 0.04em;
            margin-bottom:40px;
        }
        .section-heading{
            font-style: italic;
            font-weight: 400;
            font-size: 20px;
            line-height: 20px;
            letter-spacing: 0.08em;
        }
    }
}

.video-wrapper{
    width:67.5%;
    margin-bottom:120px;
    .tablet-block{
        position:relative;
        .tablet-image{
            position:relative;
            margin: 0 auto;
            margin-bottom:50px;
        }
        .video-link{
            position: absolute;
            top: 5.5%;
            left: 3.2%;
            width: 89.5%;
            height: 89.5%;
        }
    }
    .section-heading{
        margin-bottom:25px;
    }
    .section-text{
        width:85%;
    }
}

.promises-wrapper{
    position:relative;
    margin-bottom:120px;
    .promises-image{
        width:100%;
        max-width:600px;
    }
    .promises-right{
        position: absolute;
        top: 8.6%;
        left: 34%;
        background: #161926;
        opacity: 0.9;
        padding: 75px 0 85px 70px;
        .promises-list{
            width:100%;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            .promises-list-item{
                margin: 0 104px 65px 0;
                width:42%;
                .section-heading{
                    font-size: 24px;
                    line-height: 48px;
                    margin-bottom:3px;
                }
                .section-text{
                    line-height: 35px;
                    &:nth-child(3){
                        margin-bottom:0;
                        line-height: 26px;
                    }
                }
                .button-wrapper{
                    padding:33px 89px;
                    border: 1px solid #515773;
                }
                &:nth-child(2n){
                    margin-right:0px;
                }
                &:nth-child(3){
                    margin-bottom:0;
                    .section-text{
                        line-height: 26px;
                    }
                    .section-heading{
                        margin-bottom:5px;                  
                     }
                }
                &:nth-child(4){
                    margin-bottom:0;
                }
            }
        }
        
    }
}

.rewiews-wrapper{
    margin-bottom:100px;
    .rewiws-wrapper-heading{
        width:36%;
        margin-bottom:50px;
        .section-heading{
            letter-spacing:1.0px;
            margin-bottom: 19px;
        }
        .section-text{
            letter-spacing: 0.2px;;
        }
    
    }
    .cards-block{
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        gap:30px;
        .cards-item{
            position:relative;
            width: 24.7%;
            padding: 30px 40px;
            isolation: isolate;
            min-height:280px;
                .author-text{
                    font-style: italic;
                    font-size: 20px;
                    line-height: 20px;
                    letter-spacing: 0.08em;
                }
                .section-text{
                    font-weight:400;
                    font-size: 16px;
                    line-height: 26px;
                }
        }
        .first{
            background-image: url('../img/last-section-1.webp');
            background-size: cover;
        }
        .second{
            background-image: url('../img/last-section-2.webp');
        }
        .third{
            background-image: url('../img/last-section-3.webp'); 
        }
    }
}
.contact-wrapper{
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-top: 1px solid #515773;
    border-bottom: 1px solid #515773;
    padding-bottom:100px;
    .info-block{
        width:40%;
        margin-top:79px;
        .section-heading{
            font-size: 40px;
            line-height: 39px;
            margin-bottom: 32px;
        }
    }
    .form{
        width:40.3%;
        color: #FFFFFF;
        margin-top:62px;
            .inputs{
                margin-bottom:34px;
                .info-field{
                    width:100%;
                    margin-bottom:42px;
                    }
                input{
                    padding-bottom:10px;
                    color:#fff;
                    font-size:16px;
                    width:100%;
                    background-color: #161926;
                    border-width: 0px 0px 1px 0px;
                    border-color: rgba(255, 255, 255, 0.2);
                    &::-webkit-input-placeholder{
                        font-family: 'Playfair Display';
                        font-style: italic;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 20px;
                        letter-spacing: 0.08em;
                        color: #FFFFFF;
                        opacity: 0.2;
                        text-align: left;
                        
                    }
                    &::-moz-placeholder{
                        font-family: 'Playfair Display';
                        font-style: italic;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 20px;
                        letter-spacing: 0.08em;
                        color: #FFFFFF;
                        opacity: 0.2;
                        text-align: left;
                        
                    }
                    &:-ms-input-placeholder{
                        font-family: 'Playfair Display';
                        font-style: italic;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 20px;
                        letter-spacing: 0.08em;
                        color: #FFFFFF;
                        opacity: 0.2;
                        text-align: left;
                        
                    }
                    &::-ms-input-placeholder{
                        font-family: 'Playfair Display';
                        font-style: italic;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 20px;
                        letter-spacing: 0.08em;
                        color: #FFFFFF;
                        opacity: 0.2;
                        text-align: left;
                        
                    }
                    &::placeholder{
                        font-family: 'Playfair Display';
                        font-style: italic;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 20px;
                        letter-spacing: 0.08em;
                        color: #FFFFFF;
                        opacity: 0.5;
                        text-align: left;
                        
                    }
                }
            }
        }
    }

.footer{
    .copyright{
        padding:31px 0;
        .section-text{
            font-size: 14px;
            opacity: 0.6;
        }
        .block{
            gap:2em;
            &:nth-child(2){
                gap:1em;
            }
            .bolder{
                font-weight: 400;
                opacity:0.8;
            }
        }
    }
}