.nav-list .nav-item:hover {
  color: #18B5DC;
  transition: all 0.7s ease;
}

.card-block:hover .card-block_background {
  left: 0%;
}
.card-block:hover .card-block_left {
  transform: scale(2);
}
.card-block:hover .card-block_left:before {
  transform: scale(0.9);
}
.card-block:hover .card-block_right {
  transform: scale(1);
}
.card-block:hover .card-block_right:before {
  transform: scale(0.9);
}
.card-block:hover .card-block_socials .socials-item {
  transform: translateX(0);
}