 .nav-list .nav-item{
    &:hover{
        color:#18B5DC;
        transition: all .7s ease;
    }
}

.card-block{
    &:hover{
        .card-block_background{
            left:0%;
        }
        .card-block_left{
            transform: scale(2);
           
           &:before {
             transform: scale(.9);
           }
        }
        .card-block_right {
            transform: scale(1);
           
           &:before {
             transform: scale(.9);
           }
         }
        .card-block_socials{
            .socials-item {
                transform: translateX(0);
              }
        }
    }
}