//normalize

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position:relative;
}

.main_container{
    align-items: center;
    padding: 0px;
    margin: 50px auto;
    width: 100%;
    max-width: 1170px;
}

.container{
    margin:auto;
    position:relative;
}

a{
    text-decoration: none;
}

@import './fonts-face.scss';

//content
.header{
    margin-bottom: 40px;
    position:relative;
    .subtitle{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #898F8F;
        margin:0 auto;
    }
    .title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 55px;
        line-height: 66px;
        text-align: center;
        text-transform: uppercase;
        color: #FFCC00;
        margin:15px auto;
    }
   .divider{
    display:block;
    margin:0 auto;
    width:2%;
    .bonfire{
        display:block;
        margin:0 auto;
    }
        .header_decoration::before {
            content: '';
            position: absolute;
            display: inline-block;
            width: 210px;
            border: solid #FFCC00;
            border-width: 0 0px 1px 0;
          }
        .left::before{
            bottom: 5%;
            left: 30%
          }
          .right::before{
            bottom: 5%;
            right: 30%;
          } 
         }

}





.main_part{
    width:100%;
    display: flex;
    flex-direction:row;
    .left_part {
        padding: 65px 85px 65px 70px;
    }
    .right_part{
        padding: 65px 70px 65px 85px;;
    }
}


//left part



.person_photo{
    padding:15px
  }
  
  
   .fake-line::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: solid #FFCC00;
    border-width: 0 1px 1px 0;
  }
  
  .top_left::before{
    transform: rotate(180deg);
    top:0;
    left:0;
  }
  
  .top_right::before{
    transform: rotate(270deg);
    top:0;
    right:0;
  }
  
  .bottom_left::before{
    transform: rotate(90deg);
    bottom:0;
    left:0;
  }
  
  .bottom_right::before{
    transform: rotate(360deg);
    bottom:0;
    right:0;
}

//right part

@import '../css/iconmoon.scss';


.icon{
    color:#CCCCCC;
    border: 2px solid #CCCCCC;
    border-radius: 50%;
    padding:9px;
    font-size:12px;
}

.right_part{
    border-left: 1px solid #FFCC00;
    text-align: center;
    h2{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        text-transform: capitalize;
        color: #666666;
        margin: 0 auto 60px;
        &:before{
            content: "";
            position: absolute;
            display: inline-block;
            width: 100px;
            border: solid #FFCC00;
            border-width: 0px 0px 1px 0;
            left: 37%;
            top: 15%;
        }
      }
    h6{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        text-transform: capitalize;
        color: #666666;
        margin:30px auto;
    }

    .social_icon_block{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding: 0px;
        gap: 5px;
        margin: 0 auto 50px;
    }
    .text{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #333333;
        margin-bottom:50px;
        position:relative;
        margin-bottom:50px;

    }
    .text_block{
        position:relative;
    }
    .text_decoration::before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 20px;
        border: solid #FFCC00;
        border-width: 0 0px 4px 0;
      }
      .dotted::before{
        bottom: -20%;
        right: 48%;
      }
      .left::before{
        bottom: -20%;
        right: 54%;
        width: 10px;
      }
      .right::before{
        bottom: -20%;
        right: 44%;
        width: 10px;
      }
      
    .button{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #666666;
        background-color:#ffff;
        border: 1px solid #FFCC00;
        margin:25px;
    }
    .button{
        cursor: pointer;
    }
}
