@charset "UTF-8";
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: 2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Emphatic
   */
.hamburger--emphatic {
  overflow: hidden;
}
.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}
.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}
.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}
.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}
.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/lato-v23-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato/lato-v23-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-v23-latin-regular.woff2") format("woff2"), url("../fonts/lato/lato-v23-latin-regular.woff") format("woff"), url("../fonts/lato/lato-v23-latin-regular.ttf") format("truetype"), url("../fonts/lato/lato-v23-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */
}
/* red-hat-display-regular - latin */
@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/red-hat-display/red-hat-display-v13-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/red-hat-display/red-hat-display-v13-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/red-hat-display/red-hat-display-v13-latin-regular.woff2") format("woff2"), url("../fonts/red-hat-display/red-hat-display-v13-latin-regular.woff") format("woff"), url("../fonts/red-hat-display/red-hat-display-v13-latin-regular.ttf") format("truetype"), url("../fonts/red-hat-display/red-hat-display-v13-latin-regular.svg#RedHatDisplay") format("svg");
  /* Legacy iOS */
}
/* red-hat-display-600 - latin */
@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/red-hat-display/red-hat-display-v13-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/red-hat-display/red-hat-display-v13-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/red-hat-display/red-hat-display-v13-latin-600.woff2") format("woff2"), url("../fonts/red-hat-display/red-hat-display-v13-latin-600.woff") format("woff"), url("../fonts/red-hat-display/red-hat-display-v13-latin-600.ttf") format("truetype"), url("../fonts/red-hat-display/red-hat-display-v13-latin-600.svg#RedHatDisplay") format("svg");
  /* Legacy iOS */
}
/* covered-by-your-grace-regular - latin */
@font-face {
  font-family: "Covered By Your Grace";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/covered-by-your-grace/covered-by-your-grace-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/covered-by-your-grace/covered-by-your-grace-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/covered-by-your-grace/covered-by-your-grace-v15-latin-regular.woff2") format("woff2"), url("../fonts/covered-by-your-grace/covered-by-your-grace-v15-latin-regular.woff") format("woff"), url("../fonts/covered-by-your-grace/covered-by-your-grace-v15-latin-regular.ttf") format("truetype"), url("../fonts/covered-by-your-grace/covered-by-your-grace-v15-latin-regular.svg#CoveredByYourGrace") format("svg");
  /* Legacy iOS */
}
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

ul, p, li, h2, h1, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
  background-size: cover;
}

/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/lato-v23-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato/lato-v23-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-v23-latin-regular.woff2") format("woff2"), url("../fonts/lato/lato-v23-latin-regular.woff") format("woff"), url("../fonts/lato/lato-v23-latin-regular.ttf") format("truetype"), url("../fonts/lato/lato-v23-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */
}
/* red-hat-display-regular - latin */
@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/red-hat-display/red-hat-display-v13-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/red-hat-display/red-hat-display-v13-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/red-hat-display/red-hat-display-v13-latin-regular.woff2") format("woff2"), url("../fonts/red-hat-display/red-hat-display-v13-latin-regular.woff") format("woff"), url("../fonts/red-hat-display/red-hat-display-v13-latin-regular.ttf") format("truetype"), url("../fonts/red-hat-display/red-hat-display-v13-latin-regular.svg#RedHatDisplay") format("svg");
  /* Legacy iOS */
}
/* red-hat-display-600 - latin */
@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/red-hat-display/red-hat-display-v13-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/red-hat-display/red-hat-display-v13-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/red-hat-display/red-hat-display-v13-latin-600.woff2") format("woff2"), url("../fonts/red-hat-display/red-hat-display-v13-latin-600.woff") format("woff"), url("../fonts/red-hat-display/red-hat-display-v13-latin-600.ttf") format("truetype"), url("../fonts/red-hat-display/red-hat-display-v13-latin-600.svg#RedHatDisplay") format("svg");
  /* Legacy iOS */
}
/* covered-by-your-grace-regular - latin */
@font-face {
  font-family: "Covered By Your Grace";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/covered-by-your-grace/covered-by-your-grace-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/covered-by-your-grace/covered-by-your-grace-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/covered-by-your-grace/covered-by-your-grace-v15-latin-regular.woff2") format("woff2"), url("../fonts/covered-by-your-grace/covered-by-your-grace-v15-latin-regular.woff") format("woff"), url("../fonts/covered-by-your-grace/covered-by-your-grace-v15-latin-regular.ttf") format("truetype"), url("../fonts/covered-by-your-grace/covered-by-your-grace-v15-latin-regular.svg#CoveredByYourGrace") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/iconmoon/icomoon.eot");
  src: url("../fonts/iconmoon/icomoon.eot") format("embedded-opentype"), url("../fonts/iconmoon/icomoon.ttf") format("truetype"), url("../fonts/iconmoon/icomoon.woff") format("woff"), url("../fonts/iconmoon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-linkedin2:before {
  content: "";
}

.container {
  width: 81%;
  max-width: 1170px;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.side-block-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  background: #ffff;
}

.header-block {
  width: 100%;
  padding: 1.4% 0;
  background-color: #ffff;
  position: fixed;
  z-index: 11;
}
.header-block .button-block {
  z-index: 13;
}
.header-block .logo-link {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5em;
  color: #000000;
}
.header-block .nav-list .nav-item {
  font-family: "Covered By Your Grace", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #3C3C3C;
  padding-right: 2.2em;
}

.section-block {
  text-align: left;
  margin: 0 auto 90px;
}
.section-block .main-title {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 6.05%;
}
.section-block .section-title {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 4.5%;
}
.section-block .section-text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
  margin: 1% 0 3%;
}
.section-block .description {
  width: 50%;
}

.main-block {
  position: relative;
  padding-top: 9.05%;
}

.icon-block .icon {
  font-size: 20px;
  color: #565656;
  border: 1px solid #565656;
  padding: 13px 12px;
}

.footer-block {
  padding: 5% 0 2.1%;
  background: #F4F4F4;
}
.footer-block .CTA-heading {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 8.1%;
}
.footer-block .contacts-block {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
.footer-block .phone-number {
  margin-bottom: 4.1%;
}
.footer-block .copyright {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
  margin: 0 auto;
  text-align: center;
  margin-top: 1.75%;
}

.icon-block .icon:hover {
  color: #FFFFFF;
  background: #565656;
  transition: all 0.4s ease;
}

@media screen and (min-width: 1367px) {
  .hamburger-box {
    left: 1000px;
  }

  .header-block {
    padding: 2% 0;
  }
  .header-block .button-block {
    display: none;
  }
}
@media screen and (max-width: 1366px) {
  .section-team-item {
    padding: 0px 40px;
  }

  .side-block {
    position: fixed;
    background-color: #fff;
    right: 0;
    top: 0;
    bottom: 0;
    width: 75%;
    max-width: 440px;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.5s ease;
    transform: translateX(100%);
  }
  .side-block.open {
    transform: translateX(10%);
  }
  .side-block .nav-item {
    font-size: 24px;
    font-weight: bold;
    font-weight: 700;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }
  .side-block .nav-item:hover a {
    color: grey;
  }
}
@media screen and (max-width: 768px) {
  .section-block .main-title {
    font-size: 33px;
    line-height: 50px;
  }
  .section-block .description {
    width: 100%;
  }
  .section-block .section-title {
    margin-bottom: 7%;
  }

  .footer-block {
    padding-bottom: 6.6%;
  }
  .footer-block .flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    gap: 40px;
  }
  .footer-block .flex-column .phone-number {
    text-align: center;
  }
  .footer-block .flex-column .email {
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .container {
    width: 94%;
  }

  .main-block {
    padding-top: 19.05%;
  }

  .section-block {
    margin: 0 auto 70px;
  }
  .section-block .main-title {
    font-size: 28px;
  }
  .section-block .section-title {
    font-size: 26px;
    margin-bottom: 13.5%;
  }
  .section-block .section-text {
    font-size: 16px;
    margin: 6.7% 0 3%;
  }

  .CTA-heading {
    text-align: center;
  }

  .footer-block .copyright {
    font-size: 16px;
  }
}